* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(244, 244, 244);
    cursor: none;
}

.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: black;
}

.cursor-outline {
    width: 50px;
    height: 50px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

/* Navbar */
nav {
    font-size: large;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 100px;
}

nav a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
    color: gray;
}

nav li:first-child {
    margin-right: auto;
    padding-left: 15px;
    font-size: 30px;
}

nav :last-child {
    padding-right: 15px;
}

/* Video Player and Caption */
.video-container {
    display: flex;
    align-items: center;
}

.VideoPlayer,
.Caption {
    flex: 1;
    padding: 20px;
}

.Caption p {
    font-size: 40px;
    text-align: center;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

/* Initial Caption */
.initial-caption {
    text-align: center;
    padding: 50px 0;
    word-spacing: 20px;
}

.initial-caption p {
    font-size: 64px;
    color: #333;
    animation: loopText 10s linear infinite;
}

@keyframes loopText {
    0% {
        transform: translateX(125%);
    }
    100% {
        transform: translateX(-125%);
    }
}

#scrollbutton{
    padding: 10px 25px;
    background-color: black;
    color: white;
    margin-top: 25px;
    border-radius: 30px;
    margin-left: 60px;
}
#scrollbutton:hover{
    background-color: white;
    color:black;
}


/* Stylish Caption */
.stylish-caption {
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
}

.stylish-caption h1 {
    font-size: 36px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    letter-spacing: 4px;
    line-height: 1.5;
    max-width: 1000px;
    margin: 0 auto;
    font-style: italic;
    word-spacing: 4px;
}

/* Work Section */

#work{
    display: inline;
    font-size: 350px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#worksection{
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.topbutton{
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
}
.topbutton:hover{
    background-color: white;
    color:black;
    border: 1px solid black;
}

/* Image Section  */
.image1{
    width: 500px;
    height: 500px;
    margin-bottom: 150px;
    margin-top: 60px
}
.image1 img{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

#images-collection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}
